In [36]:
import os
import pandas as pd
import seaborn as sns
import warnings
warnings.filterwarnings("ignore")

In [4]:
monthly_rng = pd.date_range("01-2003","07-2023", freq = "M")

def annual_monthly(annual_values,index_for_new_df,digits = 2):
    monthly_values = []
    for i in range(1,len(annual_values)):
        annual_change = annual_values[i] - annual_values[i-1];
        monthly_change = round(annual_change/12,digits)
        prev_value = annual_values[i-1]
        for j in range(12):
            monthly_values.append(prev_value+monthly_change)
            prev_value = prev_value + monthly_change
         
    return pd.DataFrame(monthly_values,index=index_for_new_df)


def quaterly_monthly(quaterly_values,index_for_new_df,digits = 2):
    monthly_values = []
    for i in range(1,len(quaterly_values)):
        quaterly_change = quaterly_values[i] - quaterly_values[i-1]
        monthly_change = round(quaterly_change/3,digits)
        tchange = [quaterly_values[i-1] + monthly_change*k for k in range(3) ]   
        monthly_values.extend(tchange)

    return pd.DataFrame(monthly_values,index=index_for_new_df)

#### Average expenditure

In [202]:
data = pd.read_csv(f"./datas/average_exp_25 to 34.csv")
data = data[["YEAR","VALUE"]]
data.Year = pd.to_datetime(data['YEAR'],format="%Y")
data = annual_monthly(data["VALUE"],monthly_rng,0)
data.rename(columns = {0:"avg_expenditure_25_34"},inplace=True)
data.index = data.index.strftime("%Y-%m")
data.to_csv("./cleaned_data/average_exp_25 to 34.csv",index=True)

C:\Users\RoshA\AppData\Local\Temp\ipykernel_4000\144078285.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  tdf.Year = pd.to_datetime(tdf['YEAR'],format="%Y")

In [187]:
data = pd.read_csv(f"./datas/average_exp_35 to 44.csv")
data = data[["YEAR","VALUE"]]
data.Year = pd.to_datetime(data['YEAR'],format="%Y")
data = annual_monthly(data["VALUE"],monthly_rng,0)
data.rename(columns = {0:"avg_expenditure_35_44"},inplace=True)
data.index = data.index.strftime("%Y-%m")
data.to_csv("./cleaned_data/average_exp_35 to 44.csv",index=True)

C:\Users\RoshA\AppData\Local\Temp\ipykernel_4000\2566131976.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  tdf.Year = pd.to_datetime(tdf['YEAR'],format="%Y")

In [188]:
data = pd.read_csv(f"./datas/average_exp_45 to 54.csv")
data = data[["YEAR","VALUE"]]
data.Year = pd.to_datetime(data['YEAR'],format="%Y")
data = annual_monthly(data["VALUE"],monthly_rng,0)
data.rename(columns = {0:"avg_expenditure_45_54"},inplace=True)
data.index = data.index.strftime("%Y-%m")
data.to_csv("./cleaned_data/average_exp_45 to 54.csv",index=True)

C:\Users\RoshA\AppData\Local\Temp\ipykernel_4000\2931172882.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  tdf.Year = pd.to_datetime(tdf['YEAR'],format="%Y")

In [189]:
data = pd.read_csv(f"./datas/average_exp_65 to 74.csv")
data = data[["YEAR","VALUE"]]

data.Year = pd.to_datetime(data['YEAR'],format="%Y")


data = annual_monthly(data["VALUE"],monthly_rng,0)

data.rename(columns = {0:"avg_expenditure_65_74"},inplace=True)
data.index = data.index.strftime("%Y-%m")

data.to_csv("./cleaned_data/average_exp_65 to 74.csv",index=True)

C:\Users\RoshA\AppData\Local\Temp\ipykernel_4000\306441668.py:5: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  tdf.Year = pd.to_datetime(tdf['YEAR'],format="%Y")

#### Consumer Price Index

In [59]:
cpi_data = pd.read_excel("./datas/Consumer Price index.xlsx")

cpi_data.DATE = pd.to_datetime(cpi_data.DATE,format="%d-%m-%Y")
cpi_data.DATE = cpi_data.DATE.dt.strftime('%Y-%m')
cpi_data.set_index(cpi_data.DATE,drop=True,inplace=True)
cpi_data.drop(columns={"DATE"},inplace=True)
cpi_data = cpi_data["2003-01":"2023-12"]
cpi_data.to_csv("./cleaned_data/consumer_price_index.csv")

#### Employee construction

In [72]:
ec_data = pd.read_csv("./datas/Employees Construction.csv")
ec_data.DATE = pd.to_datetime(ec_data.DATE,format="%d-%m-%Y")
ec_data.DATE = ec_data.DATE.dt.strftime('%Y-%m')
ec_data.set_index(ec_data.DATE,drop=True,inplace=True)
ec_data.drop(columns={"DATE"},inplace=True)
ec_data = ec_data["2003-01":"2023-12"]
ec_data.rename(columns={"USCONS":"employees_construction"},inplace=True)
ec_data.to_csv("./cleaned_data/employees_construction.csv")

#### GDP

In [169]:
gdp_data = pd.read_csv("./datas/GDP.csv")
gdp_data.DATE = pd.to_datetime(gdp_data.DATE,format="%d-%m-%Y")
gdp_data.DATE = gdp_data.DATE.dt.strftime('%Y-%m')
gdp_data.set_index(gdp_data.DATE,drop=True,inplace=True)
gdp_data.drop(columns={"DATE"},inplace=True)
gdp_data = gdp_data["2003-01":"2023-12"]
gdp_data = quaterly_monthly(gdp_data.GDP,monthly_rng)
gdp_data.rename(columns = {0:"GDP"},inplace=True)
gdp_data.index = gdp_data.index.strftime("%Y-%m")
gdp_data.to_csv("./cleaned_data/GDP.csv")

#### House for sale to house sold

In [82]:
hs_data = pd.read_csv("./datas/House for sale .csv")
hs_data["DATE"] = pd.to_datetime(hs_data.DATE,format="%d-%m-%Y")
hs_data.DATE = hs_data.DATE.dt.strftime('%Y-%m')
hs_data.set_index(hs_data.DATE,drop=True,inplace=True)
hs_data.drop(columns={"DATE"},inplace=True)
hs_data = hs_data["2003-01":"2023-12"]
hs_data.rename(columns={"MSACSR":"houses-for-sale-to-sold"},inplace=True)
hs_data.to_csv("./cleaned_data/houses_for_sale_to_houses_sold.csv")

#### New privately owned housing under construction

In [87]:
phc_data = pd.read_csv("./datas/new_privately_owned_housing_under_construction.csv")
phc_data.DATE = pd.to_datetime(phc_data.DATE,format="%d-%m-%Y")
phc_data.set_index("DATE",inplace=True)
phc_data.index = phc_data.index.strftime("%Y-%m")
phc_data = phc_data["2003-01":"2023-12"]
phc_data.rename(columns={"UNDCONTSA":"pvt_owned_house_under_const"},inplace=True)
phc_data.to_csv("./cleaned_data/new_privately_owned_housing_under_construction.csv")

#### Mortgage

In [194]:
m_data = pd.read_csv("./datas/Mortgage.csv")
m_data.DATE = pd.to_datetime(m_data.DATE,format="%Y-%m-%d")
m_data.set_index("DATE",inplace=True)
m_data = m_data.resample("M").mean()
m_data.index = m_data.index.strftime("%Y-%m")
m_data = m_data["2003-01":"2022-12"]
m_data.to_csv("./cleaned_data/MORTGAGE30US.csv")

#### Personal Savings Rate

In [ ]:
psr_data = pd.read_csv("../data/personal saving rate.csv")
psr_data.DATE = pd.to_datetime(psr_data.DATE,format="%d-%m-%Y")
psr_data.DATE = psr_data.DATE.dt.strftime('%Y-%m')
psr_data.set_index(psr_data.DATE,inplace=True)
psr_data.drop(columns={"DATE"},inplace=True)
psr_data.rename(columns={"PSAVERT":"personal_saving_rate"},inplace=True)
psr_data = psr_data["2003-01":"2023-12"]

psr_data.to_csv("../data_cleaned/personal saving rate.csv")
psr_data

#### Privately owned housing units completed

In [95]:
poh_data = pd.read_csv("./datas/privately_owned_housing_units_completed.csv")
poh_data.DATE = pd.to_datetime(poh_data.DATE,format="%Y-%m-%d")
poh_data.DATE = poh_data.DATE.dt.strftime('%Y-%m')
poh_data.set_index(poh_data.DATE,inplace=True)
poh_data = poh_data["2003-01":"2023-12"]
poh_data.rename(columns = {"COMPUTSA":"house_units_completed"},inplace=True)
poh_data.drop(columns={"DATE"},inplace=True)
poh_data.to_csv("./cleaned_data/privately_owned_housing_units_completed.csv")

#### Industrial revolution

In [99]:
ir_data = pd.read_csv("./datas/Industrial production.csv")
ir_data.DATE = pd.to_datetime(ir_data.DATE,format="%d-%m-%Y")
ir_data.DATE = ir_data.DATE.dt.strftime('%Y-%m')
ir_data.set_index(ir_data.DATE,inplace=True)
ir_data = ir_data["2003-01":"2023-12"]
ir_data.rename(columns = {"INDPRO":"industrial_production"},inplace=True)
ir_data.drop(columns={"DATE"},inplace=True)
ir_data.to_csv("./cleaned_data/industrial_production.csv")

#### Unemployment rate

In [108]:
ur_data = pd.read_excel("./datas/Unemplyment rate.xlsx")
ur_data.DATE = pd.to_datetime(ur_data.DATE,format="%Y-%m-%d")
ur_data.DATE = ur_data.DATE.dt.strftime('%Y-%m')
ur_data.set_index(ur_data.DATE,inplace=True)
ur_data = ur_data["2003-01":"2023-12"]
ur_data.rename(columns = {"MRTSSM442USS":"unrate"},inplace=True)
ur_data.drop(columns={"DATE"},inplace=True)
ur_data.to_csv("./cleaned_data/Unemployment rate.csv")

#### Unemployment rate construction

In [132]:
urc_data = pd.read_csv("./datas/Unemployment rate Construction .csv")
urc_data.DATE = pd.to_datetime(urc_data.DATE,format="%d-%m-%Y")
urc_data.DATE = urc_data.DATE.dt.strftime('%Y-%m')
urc_data.set_index(urc_data.DATE,inplace=True)
urc_data = urc_data["2003-01":"2023-12"]
urc_data.rename(columns = {"LNU04032231":"unrate_construction"},inplace=True)
urc_data.drop(columns={"DATE"},inplace=True)
urc_data.to_csv("./cleaned_data/unrate_construction.csv")

         unrate_construction
DATE
2003-01                 14.0
2003-02                 14.0
2003-03                 11.8
2003-04                  9.3
2003-05                  8.4
...                      ...
2023-06                  3.6
2023-07                  3.9
2023-08                  3.9
2023-09                  3.8
2023-10                  4.0

[250 rows x 1 columns]

#### Producer Price Index Concrete Brick

In [134]:
ppi_data = pd.read_csv("./datas/producer_price_index_concrete_brick.csv")
ppi_data.DATE = pd.to_datetime(ppi_data.DATE,format="%Y-%m-%d")
ppi_data.DATE = ppi_data.DATE.dt.strftime('%Y-%m')
ppi_data.set_index(ppi_data.DATE,inplace=True)
ppi_data = ppi_data["2003-01":"2023-12"]
ppi_data.rename(columns = {"PCU32733132733106":"producer_price"},inplace=True)
ppi_data.drop(columns={"DATE"},inplace=True)
ppi_data.to_csv("./cleaned_data/producer_price_index_concrete_brick.csv")

#### Population Quarterly

In [35]:
p_data = pd.read_csv("./datas/Population_quarterly.csv")
p_data.DATE = pd.to_datetime(p_data.DATE,format="%d-%m-%Y")
p_data.DATE = p_data.DATE.dt.strftime('%Y-%m')
p_data.set_index(p_data.DATE,inplace=True)
p_data = quaterly_monthly(p_data["B230RC0Q173SBEA"],monthly_rng)
p_data.rename(columns = {0:"population"},inplace=True)
p_data.index = p_data.index.strftime("%Y-%m")
p_data.to_csv("./cleaned_data/Population.csv")