In [5]:
import pandas as pd
import os

In [6]:
files = ['average_exp_25 to 34.csv',
 'average_exp_35 to 44.csv',
 'average_exp_45 to 54.csv',
 'average_exp_65 to 74.csv',
 'consumer_price_index.csv',
 'employees_construction.csv',
 'GDP.csv',
 'houses_for_sale_to_houses_sold.csv',
 'industrial_production.csv',
 'MORTGAGE30US.csv',
 'new_privately_owned_housing_under_construction.csv',
 'privately_owned_housing_units_completed.csv',
 'producer_price_index_concrete_brick.csv',
 'Unemployment rate.csv',
 'unrate_construction.csv',
 'Population.csv',
 'target.csv']

In [2]:
df = pd.DataFrame()

for filename in files:
    tdf = pd.read_csv(file)
    
    
    
# final_df = pd.DataFrame(df_dict,monthly_rng)
# print(df_dict)

print(df)

NameError: name 'pd' is not defined

In [7]:
merged_df = pd.DataFrame()

for filename in files:
    df = pd.read_csv(filename)
    if merged_df.empty:
        merged_df = df
    else:
        merged_df = pd.merge(merged_df, df, on='DATE', how='outer')
merged_df.to_csv("final_df.csv")
# merged_df

In [8]:
merged_df.columns

Index(['DATE', 'Average expenditure 25 - 34', 'Average expenditure 35 - 44',
       'Average expenditure 45 - 54', 'Average expenditure 65 - 74', 'CPI',
       'Employees Construction', 'GDP', 'House for sale to sold',
       'Industrial production', 'Mortgage', 'Price house under Construction',
       'Private owned house ', 'PPI', 'Unemployment Rate ',
       'Unemployment construction', 'Population', 'target'],
      dtype='object')